<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DateDifferenceExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8E11B001BC02FC10003952C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8E11B0F1BC02FC10003952C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8E11B1A1BC02FC10003952C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
